# Dependencies
/node_modules
/.pnp
.pnp.js

# Vercel
.vercel

# Build outputs
/build
/.next/
/out/

# Static exports
/export

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pglite-debug.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Editor directories and files
.vscode/
.idx/

# TypeScript build info
*.tsbuildinfo
next-env.d.ts
